@import url('https://fonts.googleapis.com/css2?family=Saira+Stencil+One&display=swap');

:root {
    --dark-bg: #161616;
    --dark-text: #dfdfdfd7;

    --light-bg: #eeeeee;
    --light-color: #868686;
}

html {
    overflow: hidden;
}

body {
    font-family: "Saira Stencil One", sans-serif;
    font-style: normal;
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-color: var(--light-bg);
    color: var(--light-color);
}

body.dark-mode {
    background-color: var(--dark-bg);
    color: var(--dark-text);
}

header {
    width: 100%;
    height: 5vh;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header>#themeToggle {
    font-size: 1.2em;
    background: none;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 5px;
    color: inherit;
}

main {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main>#nextYear {
    width: 100%;
    height: 15vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
}

main>#countDown {
    width: 100%;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main>#countDown>#countDownDate {
    width: 100%;
    font-size: 40px;
    text-align: center;
}

main>#countDown>#countDownTime {
    width: 100%;
    font-size: 30px;
    text-align: center;
}

main>#NewYear {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main>#NewYear>#HappyNewYear {
    font-size: 20px;
    text-align: center;
}

footer {
    width: 100%;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer>p {
    font-size: 10px;
    margin: auto;
}